
* {
	box-sizing: border-box;
}

body {
	background: url('../images/seamless_paper_texture.png');
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 34px;
	color: #777;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

h1, h2, h3, p {
	margin-bottom: 20px;
}

p:last-child {
	margin-bottom: 0;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 700;
	color: #4aaaa5;
}

h1 {
	font-size: 30px;
	line-height: 49px;
	border-bottom: 3px solid #ddd;
	padding-bottom: 20px;
}

h2,h3 {
	font-size: 22px;
}

#tophead {
	margin: 0 0 30px;
	z-index: 99;
	color: #fff;
	background: #fff;
	overflow: auto;
	border-bottom: 2px solid #ccc;
	position: fixed;
	width: 100%;
}

#logo {
	width: 250px;
	height: 90px;
	background: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;
	text-align: center;
	line-height: 90px;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
}

nav {
	float: right;
	margin-top: 25px;
}
nav a {
	color: #999;
	text-decoration: none;
	margin-left: 15px;
	border-left: 1px solid #efefef;
	padding-left: 15px;
	line-height: 18px;
	display: inline-block;
}
nav a:first-child {
	border-left: 0 none;
}

#main-container {
	padding-top: 130px;
}

.main-section {
	padding: 30px;
	margin: 0 0 40px 0;
	float: left;
	background: #fff;
	width: 100%;
	max-width: 650px;
	border: 1px solid #ddd;
}

.profilepic {
	width: 200px;
	height: auto;
	margin-top: 10px;
	margin-right: 25px;
	float: left;
}

.sidebar {
	background: #fff;
	width: 100%;
	max-width: 270px;
	float: right;
	border: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 30px;
}

h3, .sidebar, h2 {
	border-bottom: 2px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
}
.connectlogo {
	margin top: 8px;
	margin-right: 5px;
	width: 62px;
	height: 62px;
}

.connectlogo:last-child {
	margin-right: 0;
}

footer {
	color: #fff;
	padding: 30px 0;
	clear: both;
	background: #666;
	border-top: 8px solid #4aaaa5;
	font-size: 12px;
	text-align: center;
}
 /*protfolio Page CSS*/

.hobby {
	position: relative;
	overflow: auto;
	width: 274px;
	margin: 20px 0 25px;
	float: left;
}

.hobby:nth-child(even) {
	margin-right: 40px;
}

.hobby img {
	width: 100%;
	border: 0 none;
	opacity: .8;
}

.hobby h3 {
	border-bottom: 0;
	color: #fff;
	text-align: center;
	position: absolute;
	background: #4aaaa5;
	bottom: 20px;
	padding: 15px;
	width: 274px;
	line-height: 30px;
	margin-bottom: 0;
	font-weight: 300;
}

/*contact page*/

label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 100%;
}

input[type=text],
input[type=email],
textarea{
	height: 35px;
	border: 1px solid #ddd;
	padding: 0 10px;
	font-size: 14px;
}

 textarea {
 	height: 200px;
 }

 input[type=submit] {
 	background: #4aaaa5;
 	border: 0 none;
 	font-size: 18px;
 	padding: 10px 30px;
 	color: #fff;
 	cursor: pointer;

 }

 input[type=text]:focus{
    color: #666666;

}

/*media query start here*/



@media screen and (max-width: 980px) {

.container {
	width: 100%;
	max-width:730px;	
}

#logo {
	float: left;
	left: 30px;	
}

.main-section {
	float: left;
	left: 20px;
	max-width: 415px;
}

.profilepic {
	width: 350px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.sidebar {
	width: 100%;
	max-width: 285px;
	margin-bottom: 45px;
	padding: 38px;
}
.hobby {
	width: 340px;
}
.hobby img {
	width : 457px;

}
.hobby h3 {
	width: 340px;
}


@media screen and (max-width: 768px) {

.container {
	width: 100%;
	max-width: 745px;	
}


.main-section {
	float: left;
	left: 35px;
	max-width: 750px;

}
 .sidebar {
	width: 100%;
	max-width: 768px;
}


.profilepic {
	width: 350px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.hobby {
	width: 320px;
}

@media screen and (max-width: 640px) {

.tophead {
	position: static;

}

#logo {
	width: 500px;
}

.container {
	width: 100%;
	max-width: 500px;
	padding: 50;	
}

nav {
	width: 400px;
}

.profilepic {
	width: 450px;
	margin-top: 10px;
}
.main-section {
margin-top: 40px;
}

.hobby {
	width: 430px;
}

.hobby h3 {
	width : 430px;

}


}
